body,html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.grass .sky .road {
  position: relative;
}
.sky {
  height: 40%;
  background-color: skyblue;
}
.cloud{
  position: absolute;
}
.cloud:nth-child(1){
  width: 200px;
  top: 80px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}
.cloud:nth-child(2){
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;
}
.grass {
  height: 30%;
  background-color: seagreen;
}
.cris{
  top: 300px;
  position: absolute;
  animation:  drive 6s linear  infinite  both;
  font-weight: bolder;
  font-stretch: extra-expanded;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration-color: darkred;
}
.road{
  height: 30%;
  background: dimgray;
  box-sizing: border-box;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  width: 100%;

}
.lines{
  box-sizing: border-box;
  height: 0px;
  width: 100%;
  position: absolute;
  border: 5px dashed #fff;
  top:85%;
}
.mario{
  position: absolute;
  top:360px;
  left:0px;
  animation: drive 3s linear  infinite  both, jump 0.3s 1.2s ease;
  /* animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: both;
  /* animation-delay: 5s; */
  /* animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: unset;  */
}
.luigi{
  position: absolute;
  top: 410px;
  left: 0;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
}

@keyframes drive{
  from{
    transform: translate(-100px);

  }
  to{
    transform: translate(1400px);

  }
}
@keyframes jump{
  0%{top:360px}
  50%{top: 300px}
  100%{top:360px}
}
@keyframes wind{
  from{left: -300px;}
  to{left: 100%;}
}
/* 
.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
} */
/* 
